

@media screen and (max-width:726px){
    *{
        margin: 0;
        border: 0;
    }
    body{
        background: #000;
    }
    .mob-container{
        width: auto;
        height: 100vh;
        color: white;

        .mob-logo{
            margin-top: 15px;
            display: grid;
            text-align: center;

            img{
                transform: translate(50%);
                width: 50%;
                height: 200px;
                margin-top: 10px;
                border-radius: 50%;
            }
            span{
                font-style: oblique;
                padding: 5px;
                font-size: 23px;
            }
        }
        .signup-title{
            height: auto;
            width: auto;
            margin-left: 12px;
            h3{
                font-size: 30px;
            }
            h4{
                font-size: 20px;
                color: rgb(0, 119, 255);
            }
        }
        .sign-form{
            form{
                padding: 5px;
                height: auto;

                input{
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    height: 31px;
                    padding: 5PX;
                    width: 95%;
                    margin-left: 5px;
                }
            }
        }
        .butt{
            border-radius: 15px;
            padding: 5px;
            margin-left: 15px;
            height: 35px;
            color: white;
            width: 90%;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            background: blue;
            cursor: pointer;
            outline: none;
        }
        .lgn-mob{
            
            font-size: 19px;
            text-align: center;
            p{
                padding: 19px;

                a{
                    text-decoration: none;
                    color: blue;
                }
            }
        }
    }
}