*{
    margin: 0;
    border: 0;
}
body{
    background: black;
    color: white;
}
.container{
    width: 30%;
    padding: 5px;
    margin-left: 34%;
    margin-top: 60px;
    height: auto;
    
    border-radius: 2px;
    .logo{
        display: grid;
        text-align: center;
        
        img{
            transform: translate(50%);
            width: 50%;
            height: 150px;
            border-radius: 50%;
        }
        span{
            font-style: italic;
            font-size: 25px;
            padding: 5px;
        }
    }
}
.login-head{
    margin-left: 10px;
    h3{
        font-size: 30px;
        color:#00FF00 ;
    }
    h5{
        font-size: 17px;
    }
}
.form{
    
    form{
        padding: 5px;        
        input{
            border: none;
            outline: none;
            padding: 5px;
            border-radius: 10px;
            height: 35px;
            width: 95%;
        }
    }
    button{
        border-radius: 15px;
        padding: 5px;
        margin-left: 9px;
        height: 35px;
        width: 90%;
        background: blue;
        cursor: pointer;
        outline: none;
        }
        a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            
            p{
                font-size: 10px;
                text-align: right;
                padding: 15px;
            }
        }
}
@media screen and (max-width:726px) {
    *{
        margin: 0;
        border: 0;
    }
    .container{
     width: 100%;
     padding: 5px;
     margin: 0;
     margin-top: 20px;
     height: 100vh;
        .logo{
            display: grid;
            text-align: center;
            img{                 
            transform: translate(50%);
            width: 50%;
            height: 200px;
            border-radius: 50%;
            }
            span{
            font-style: italic;
            font-size: 25px;
            padding: 5px;
           }
        }

        .login-head{
            height: auto;
            width: auto;
                 h3{
                     font-size: 30px;
                     color:#ffffff ;
                 }
                 h5{
                     font-size: 15px;
                }
             }
             .form{
        
                     form{
                         padding: 5px;  
                         height: 100px;    
                         input{
                             border: none;
                             outline: none;
                             border-radius: 10px;
                             height: 35px;
                             width: 95%;
                         }
                     }
                }
                button{
                            border-radius: 15px;
                            padding: 5px;
                            margin-left: 9px;
                            height: 35px;
                            color: white;
                            width: 90%;
                            background: blue;
                            cursor: pointer;
                            outline: none;
                             }
    
                             a{
                                            color: rgb(255, 255, 255);
                                            text-decoration: none;
                                            
                                            p{
                                                font-size: 15px;
                                                text-align: right;
                                                padding: 15px;
                                            }
                                        }
    }
    
}