*{
    margin: 0;
    border: 0;
}
.container{
    width: 30%;
    background-color: gray;
    padding: 5px;
    border-radius: 15px;
    margin-left: 34%;
    margin-top: 50px;
    height: auto;
    .logo{
        display: grid;
        text-align: center;
        
        img{
            transform: translate(50%);
            width: 50%;
            height: 200px;
            border-radius: 50%;
        }
        span{
            font-style: italic;
            font-size: 25px;
            padding: 5px;
        }
    }
}
.login-head{
    
    h3{
        font-size: 30px;
        color:#00FF00 ;
    }
    h5{
        font-size: 20px;
    }
}
.form{
    
    form{
        padding: 5px;        
        input{
            border: none;
            outline: none;
            border-radius: 10px;
            height: 35px;
            width: 95%;
        }
    }
    button{
        border-radius: 15px;
        padding: 5px;
        margin-left: 9px;
        height: 35px;
        width: 90%;
        background: #b4b4eb;
        cursor: pointer;
        outline: none;
        }
        a{
            color: rgb(98, 186, 197);
            text-decoration: none;
            
            p{
                font-size: 20px;
                text-align: right;
                padding: 15px;
            }
        }
}